html, body {
  height: 100%;
  font-family: arial;
}

* { color: #000000 }

a, p, button { font-size: 16px; }

.grid>* { padding: 10px }

.rg_item {
  border: 1px solid #555;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 1px 1px 6px 0 black
}

.rg_item-img {
  height: auto;
  width: 100%;
  height: 100px
}

.rg_item-content { padding: 10px }

li { padding: 5px 0 }

body>a, body>button {
  display: initial;
  border-radius: 3px;
  border: 1px solid #fff;
  padding: 5px 15px;
  text-decoration: none;
  background: none;
  box-shadow: 1px 1px 6px 0 black;
  position: relative;
  color: #fff;
  z-index: 1;
  transition: all 0.2s ease-in-out;
  font-weight: 700;
  cursor: pointer
}

body>a:after, body>button:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background: white;
  width: 25%;
  height: 0;
  transition: all 0.2s ease-in-out;
  z-index: -1;
  display: block
}

body>a:hover, body>button:hover { color: #000 }

body>a:hover:after, body>button:hover:after {
  width: 100%;
  height: 100%
}